body{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(./img/endless-bamboo-landscape-game-background_22289-406.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}